section#about.about
    h3.section-title O nás
    .about__text-box
        p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
        p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .about__wrapper

        .about__left
            h3 Absolutní mlčenlivost
            p To, co jste nám sdělili pro potřeby výkonu naší činnosti zůstavá striktně uzamčeno v naší kanceláři. Mlčenlivosti nás můžete zprostit jenom Vy. Vážíme si důvěry, se kterou se na nás obracíte a nezklameme Vás.
            h3 Profesionalita
            p Nečiníme rozdíl mezi malými a velkými případy. Jsme přesvědčení, že klient, který se na nás obrátil a odchází spokojen, se znovu vrátí. Ke každé kauze přistupujeme maximálně zodpovědně a hledáme to nejvhodnější řešení. Staráme se a dbáme o co nejvyšší kvalitu našich výstupů, ve složitých, komplikovaných případech podléhají tyto výstupy ještě závěrečné kontrole ze strany vedoucího advokáta nebo partnera kanceláře.

        .about__right
            h3 Naprostá spolehlivost
            p Váš email či telefon nezůstane bez reakce. Termíny, na kterých jsme se dohodli striktně dodržujeme. To, co jsme slíbili, rovněž splníme. Nenecháme Vás nikdy bez naší právní podpory.
            h3 Efektivita
            p Vždy hledáme co možná nejjednodušší a nejrychlejší cestu k vyřešení Vašeho problému. Kromě osobních schůzek řešíme jednotlivé kauzy také emailem či telefonicky. Počet našich advokátů umožňuje vzájemnou zastupitelnost a eliminuje riziko průtahů při řešení Vašich problémů.

        .about__slider-top
            .about__slider-top--slide
                img(src='img/slide_2.png' alt='slide')
                h3.about__slider-top--title
                    | Být klientem naší advokátní kanceláře,
                    br
                    | znamená respekt vašich obchodních partnerů.
            //.about__slider-top--slide
            //    img(src='img/slide_3.png' alt='slide')
            //    h3.about__slider-top--title
            //        | Být klientem naší advokátní kanceláře,
            //        br
            //        | znamená respekt vašich obchodních partnerů.
            //.about__slider-top--slide
            //    img(src='img/slide_4.png' alt='slide')
            //    h3.about__slider-top--title
            //        | Být klientem naší advokátní kanceláře,
            //        br
            //        | znamená respekt vašich obchodních partnerů.
            //.about__slider-top--slide
            //    img(src='img/slide_1.png' alt='slide')
            //    h3.about__slider-top--title
            //        | Být klientem naší advokátní kanceláře,
            //        br
            //        | znamená respekt vašich obchodních partnerů.

        .about__slider-for
            .about__slider-for--slide
                img(src='img/slide_2_big.png' alt='slide')
            //.about__slider-for--slide
            //    img(src='img/slide_3.png' alt='slide')
            //.about__slider-for--slide
            //    img(src='img/slide_4.png' alt='slide')
            //.about__slider-for--slide
            //    img(src='img/slide_1.png' alt='slide')