section#attent.attent

    h3.section-title Naše zaměření


    .attent__element
        .photo
            img(src='img/att-1.png' alt='photo')
        .descr
            .triangle
            h3 Právo obchodních korporací, fúze a akvizice
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .attent__element
        .descr
            .triangle-right
            h3 GDPR
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

        .photo
            img(src='img/att-2.png' alt='photo')

    .attent__element
        .photo
            img(src='img/att-3.png' alt='photo')
        .descr
            .triangle
            h3 Práva cestujících v letecké dopravě
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .attent__element
        .descr
            .triangle-right
            h3 Nekalá soutěž
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

        .photo
            img(src='img/att-4.png' alt='photo')

    .attent__element
        .photo
            img(src='img/att-5.png' alt='photo')
        .descr
            .triangle
            h3 Právo nemovitosti a právní podpora developerských projektů
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .attent__element
        .descr
            .triangle-right
            h3 Pracovní právo
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

        .photo
            img(src='img/att-6.png' alt='photo')

    .attent__element
        .photo
            img(src='img/att-7.png' alt='photo')
        .descr
            .triangle
            h3 Právo IT
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .attent__element
        .descr
            .triangle-right
            h3 Škoda na zdraví
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

        .photo
            img(src='img/att-8.png' alt='photo')