section#attent.attent

    h3.section-title Naše zaměření


    .attent__element
        .photo
            img(src='img/att-1.png' alt='photo')
        .descr
            .triangle
            h3 Právo obchodních korporací, fúze a akvizice
            p Advokátní kancelář Jehne, Vodák a partneří je již více než 15 let spolehlivým partnerem klientům z řad středních a středně velkých podnikatelských subjektů, osobám fyzickým i právnickým, a to ve všech zásadních oblastech práva. Na rozdíl od některých jiných advokátních kanceláří partneři a vlastníci kanceláře advokacii aktivně vykonávají a přebírají tak za služby, poskytované kanceláří, plnou odpovědnost. Všichni právníci naší advokátní kanceláře mají vysokoškolské vzdělání právnického směru a jsou řádně registrováni u České advokátní komory.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.
            p Právní služby, poskytované naší advokátní kanceláří vycházejí z bezpodmínečně perfektní znalosti platného práva a aktuální tuzemské i zahraniční judikatury. Naši právníci těmito znalostmi disponují a průběžně je dle vývoje právní úpravy aktualizují.

    .attent__element
        .descr
            .triangle-right
            h3 GDPR
            p

        .photo
            img(src='img/att-2.png' alt='photo')