section#contacts.contacts
    h3.section-title Kontaktujte nás

    .contacts__wrapper

        .contacts__wrapper--element
            h3 ADRESA
            p Washingtonova 1567/25
            p Praha 1, 110 00

        .contacts__wrapper--element
            h3 TELEFON
            p +420 222 232 061-2
            p +420 222 232 661
            p +420 222 232 276

        .contacts__wrapper--element
            h3 E-MAIL
            p jehne@jehnevodak.cz
            p vodak@jehnevodak.cz

        .contacts__wrapper--element
            h3 BANKOVNÍ SPOJENÍ
            p GE Money Bank, a.s.
            p 4124438504/0600

        .contacts__wrapper--element
            h3 FAX
            p +420 222 230 052

        .contacts__wrapper--element
            h3 POVINNÉ ÚDAJE
            p IČ: 66219094
            p DIČ: CZ6709151977

    form.contacts__form

        h3 Napište nám

        input.contacts__form--field(type='text', placeholder='Jméno a příjmení')

        input.contacts__form--field(type='text', placeholder='E-mail')

        input.contacts__form--field(type='text', placeholder='Telefon')

        textarea.contacts__form--text(placeholder='Text Vaší zprávy')

        input.contacts__form--submit(type='submit', value='ODESLAT')