footer.footer
    p.footer__descr Dovolujeme si informovat, že subjektem pověřeným mimosoudním řešením spotřebitelských sporů pro oblast sporů mezi advokátem a spotřebitelem ze Smluv o poskytování právních služeb (na základě zákona č. 634/1992 Sb., o ochraně spotřebitele ve znění pozdějších předpisů) je Česká advokátní komora, se sídlem Národní tř. 16, 110 00 Praha 1, web:
        a(href='#') www.cak.cz
    p.footer__art
      span  www.jehnevodak.cz
      | © 2018 – Všechna práva vyhrazena