header.header
        .header__logo
            img(src='img/header-logo.png' alt='logo')

        nav.header__navigation
            a#header-trigger(href='#').header__trigger
                span
                span
                span

            ul.header__nav
                li.go-to
                    a(href='#about') O NÁS
                li.go-to
                    a(href='#team') NÁŠ TÝM
                li.go-to
                    a(href='#attent') ZAMĚŘENÍ
                li.go-to
                    a(href='#media') MÉDIA O NÁS
                li.go-to
                    a(href='#contacts') KONTAKTY
                li.search
                    a(href='#') search