header.header
        .header__logo
            img(src='img/header-logo.png' alt='logo')

        nav.header__navigation
            a#header-trigger(href='#').header__trigger
                span
                span
                span

            ul.header__nav
                li
                    a(href='#about').go-to O NÁS
                li
                    a(href='#team').go-to NÁŠ TÝM
                li
                    a(href='#attent').go-to ZAMĚŘENÍ
                li
                    a(href='#media').go-to MÉDIA O NÁS
                li
                    a(href='#contacts').go-to KONTAKTY
                li
                    a(href='#')
                        img(src='img/icons/search-icon.png' alt='search')