header.header
        .header__logo
            img(src='img/header-logo.png' alt='logo')

        nav.header__navigation
            a#header-trigger(href='#').header__trigger

            ul.header__nav
                li
                    a(href='#about') O NÁS
                li
                    a(href='#') ZAMĚŘENÍ
                li
                    a(href='#') NÁŠ TÝM
                li
                    a(href='#') MÉDIA O NÁS
                li
                    a(href='#') KONTAKTY
                li
                    a(href='#')
                        img(src='img/icons/search-icon.png' alt='search')