header.header
        .header__logo
            img(src='img/header-logo.png' alt='logo')

        nav.header__navigation
            a#header-trigger(href='#').header__trigger
                span
                span
                span

            ul.header__nav
                li
                    a(href='#about') O NÁS
                li
                    a(href='#team') NÁŠ TÝM
                li
                    a(href='#attent') ZAMĚŘENÍ
                li
                    a(href='#') MÉDIA O NÁS
                li
                    a(href='#contacts') KONTAKTY
                li
                    a(href='#')
                        img(src='img/icons/search-icon.png' alt='search')