section.main-slider
    .main-slider__top
        .main-slider__top--slide
            img(src='img/slide_1.png' alt='slide')
        .main-slider__top--slide
            img(src='img/slide_2.png' alt='slide')
        .main-slider__top--slide
            img(src='img/slide_3.png' alt='slide')
        .main-slider__top--slide
            img(src='img/slide_4.png' alt='slide')
    .main-slider__for
        .main-slider__for--slide
            img(src='img/slide_1.png' alt='slide')
        .main-slider__for--slide
            img(src='img/slide_2.png' alt='slide')
        .main-slider__for--slide
            img(src='img/slide_3.png' alt='slide')
        .main-slider__for--slide
            img(src='img/slide_4.png' alt='slide')