section#media.media

    h3.section-title Média o nás

    #media-slider.media__slider
        .media__slider--slide
            h3 BŘEZEN 2017
            p Advokátní kancelář dokončila pro klienta koupi podílů ve společnosti podnikající v oblasti kovoprůmyslu s dlouholetou tradicí na českém trhu.

        .media__slider--slide
            h3 BŘEZEN 2017
            p Advokátní kancelář dokončila pro klienta koupi podílů ve společnosti podnikající v oblasti kovoprůmyslu s dlouholetou tradicí na českém trhu.

        .media__slider--slide
            h3 BŘEZEN 2017
            p Advokátní kancelář dokončila pro klienta koupi podílů ve společnosti podnikající v oblasti kovoprůmyslu s dlouholetou tradicí na českém trhu.

        .media__slider--slide
            h3 BŘEZEN 2017
            p Advokátní kancelář dokončila pro klienta koupi podílů ve společnosti podnikající v oblasti kovoprůmyslu s dlouholetou tradicí na českém trhu.

    .media__slider-top
        .media__slider-top--slide
            img(src='img/slide_4.png' alt='slide')
            h3.media__slider-top--title
                | Těší nás zájem médií o naši práci.
                br
                | Pravidelně konzultujeme významné
                br
                | právní kauzy ve sdělovacích prostředcích.
        .media__slider-top--slide
            img(src='img/slide_1.png' alt='slide')
            h3.media__slider-top--title
                | Těší nás zájem médií o naši práci.
                br
                | Pravidelně konzultujeme významné
                br
                | právní kauzy ve sdělovacích prostředcích.
        .media__slider-top--slide
            img(src='img/slide_2.png' alt='slide')
            h3.media__slider-top--title
                | Těší nás zájem médií o naši práci.
                br
                | Pravidelně konzultujeme významné
                br
                | právní kauzy ve sdělovacích prostředcích.
        .media__slider-top--slide
            img(src='img/slide_3.png' alt='slide')
            h3.media__slider-top--title
                | Těší nás zájem médií o naši práci.
                br
                | Pravidelně konzultujeme významné
                br
                | právní kauzy ve sdělovacích prostředcích.

    .media__slider-for
        .media__slider-for--slide
            img(src='img/slide_4.png' alt='slide')
        .media__slider-for--slide
            img(src='img/slide_1.png' alt='slide')
        .media__slider-for--slide
            img(src='img/slide_2.png' alt='slide')
        .media__slider-for--slide
            img(src='img/slide_3.png' alt='slide')