section#team.team
    h3.section-title Náš tým

    .team__wrapper
        .team__wrapper--element
            .photo
                img(src='img/lawyer_1.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .photo
                img(src='img/lawyer_2.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456
            .photo
                img(src='img/lawyer_3.png' alt='photo')

        .team__wrapper--element
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456
            .photo
                img(src='img/lawyer_4.png' alt='photo')

        .team__wrapper--element
            .photo
                img(src='img/lawyer_5.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .photo
                img(src='img/lawyer_6.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456
            .photo
                img(src='img/lawyer_7.png' alt='photo')

        .team__wrapper--element
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456
            .photo
                img(src='img/lawyer_8.png' alt='photo')

        .team__wrapper--element
            .photo
                img(src='img/lawyer_9.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .photo
                img(src='img/lawyer_10.png' alt='photo')
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456

        .team__wrapper--element.bg
            .descr
                h3 JUDr. Pavel Novák
                p mail@jehnevodak.cz
                p +420 732 123 456
            .photo
                img(src='img/lawyer_11.png' alt='photo')