doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../main-slider
        include ../about
        include ../team
        include ../contacts
        include ../footer
        include ../html_close